

<div class="col-md-9 vertical-center  mainpic">
    <div class="overlay">
        <h4>FEEL LIKE HOME AWAY FROM HOME</h4>
        <p>FIND YOUR EXCLUSIVE TUSCANY VILLA FOR HOLIDAYS</p>
    </div>
</div>
<div class="col-md-3 tuscanyMap vertical-center">
    <div class="overlay">
        <h5>FIND YOUR TUSCANY VILLA</h5>
        <p>EXPLORE THE MAP</p>
    </div>
</div>
<div class="col-md-3 square col1 ">
    <h3>SOME</h3>
    <h3>ACCOMMODATION</h3>
    <h3>IDEAS</h3>
    <h3>FOR A PERFECT STAY</h3>
    <p class="specialParagraph">YOUR DREAMS OUR JOB!</p>
</div>
<div class="col-md-3 square vertical-center wedding">
    <div class="overlay">
        <h4>WEDDINGS</h4>
        <p class="specialParagraph">ACCOMMODATIONS</p>
    </div>
</div>
<div class="col-md-3 square vertical-center friend">
    <div class="overlay">
        <h4>FRIENDS</h4>
        <p class="specialParagraph">ACCOMMODATIONS</p>
    </div>
</div>
<div class="col-md-3 square vertical-center family">
    <div class="overlay ">
        <h4>FAMILY</h4>
        <p class="specialParagraph">ACCOMMODATIONS</p>
    </div>
</div>
<div class="col-md-3 square vertical-center image responsive paola">
    <div class="overlay ">
        <h4>VILLA PAOLA</h4>
    </div>
 </div>
<div class="col-md-3 square image responsive">
    <h4>WHY BOOK A VILLA</h4>
    <p>We are offering clients an exclusive portfolio of private villas located in some of the most charming corners of the Italian countryside and coastline.</p>
</div>
<div class="col-md-3 square vertical-center image responsive villa">
    <div class="overlay">
        <h4>LA VILLA</h4>
    </div>
</div>
<div class="col-md-3 square image responsive">
    <h4>WHY US</h4>
    <p>Tuscany is a brand founded by Leonardo Ferregamo in 1986, specialized in property management in short and long term of rentals of prestigious apartments in Tuscany.</p>
</div>

<div class="col-md-3 square image responsive">
    <h4>SPEAK WITH OUR EXPERTS</h4>
    <p> Our highly qualified personnel make sure each client is immediately catered to and the result is a dynamic group of young professionals dedicated to finding solutions and providing top quality </p>
</div>
<div class="col-md-3 square vertical-center image responsive gigli">
    <div class="overlay ">
        <h6>VILLA DE GIGLI</h6>
    </div>
</div>
<div class="col-md-3 square image responsive">
    <h6>OUR CLIENT TRUST US </h6>
    <h2>20</h2>
    <p>GUEST REVIEWS</p>
    <h3>4.5/5.0</h3>
</div>
<div class="col-md-3 square image responsive">
    <h2>SEEN ON</h2>
    <p>SKY at CBS</p>
    <p>The New York Times</p>
</div>



